<!DOCTYPE html>
<html>
<head>
    <title>Random Quote Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Random Quote Generator</h1>

    <p id="quote">Click the button to get a quote!</p>
<p id="author"></p>

    <button id="btn">Get Quote</button>
</div>

<script>
document.getElementById("btn").addEventListener("click", () => {
    fetch("/quote")
        .then(response => response.json())
        .then(data => {
            document.getElementById("quote").innerText = data.text;
            document.getElementById("author").innerText = "- " + data.author;
        });
});
</script>


</body>
</html>
